{% extends "layouts/base.html" %}

{% block title %} Página principal {% endblock title %}

{% block stylesheet %}{% endblock stylesheet %}

{% block content %}
<div class="main">
    <form action="GET" action="{% url 'busca' %}" class="mb-3">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Pesquisar</button>
    </form>

    <ul>
        {% for result in results %}
            <li>{{ result.medicine }}</li>
        {% empty %}
            <li>Nenhum resultado encontrado</li>
        {% endfor %}
    </ul>

    <!-- <p>Bem-vindo! Selecione uma opção no menu lateral.</p> -->
    <div class="mb-4">
        <h5>Últimos registros de medicações</h5>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-primary">
                    <tr>
                        <th>Medicamento</th>
                        <th>Entrada/Saída</th>
                        <th>Quantidade</th>
                        <th>Data e Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evento in eventos %}
                        <tr>
                            <td>{{ evento.medicine }}</td>
                            <td>{{ evento.event_type }}</td>
                            <td>{{ evento.quantity }}</td>
                            <td>{{ evento.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}