{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Registrar Evento de Medicamento</h2>

    <!-- Formulário principal de eventos -->
    <form method="post">
        {% csrf_token %}
        {{ form_events.as_p }}
        <button type="submit" class="btn btn-primary" name="submit_event">Registrar</button>

        <!-- Botão para abrir modal -->
        <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#modal">
          <i class="bi bi-plus-lg"></i>
            Novo Medicamento
        </button>

        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
        {% endfor %}
    </form>

    <!-- Modal para registro de novo medicamento -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">  <!-- IMPORTANTE: colocar o form aqui, englobando modal inteiro -->
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Registrar novo medicamento</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Digite o nome do novo medicamento</p>
                        {{ form_register.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Fechar</button>
                        <button class="btn btn-success" type="submit" name="submit_medicine">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
